{% extends 'core/base.html' %}
{% load i18n %}
{% if messages %}
<ul>
  {% for message in messages %}
    <li style="color: green;">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% block title %}Judges – {{ event.name }}{% endblock %}

{% block content %}
<h2>{% trans "Judges for " %}{{ event.name }}</h2>

{% if judges %}
<ul>
  {% for judge in judges %}
    <li>{{ judge.first_name }} {{ judge.last_name }} ({{ judge.username }})</li>
  {% endfor %}
</ul>
{% else %}
<p>{% trans "No judges have been added for this event yet" %}.</p>
{% endif %}

<hr>

<h3>{% trans "Add Judge" %}</h3>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn-green">{% trans "Add Judge" %}</button>
</form>

{% endblock %}
